@mixin paddingLeftRight {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin padding($padding-left, $padding-right) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin margin($margin) {
  margin: $margin, $margin, $margin, $margin;
}

@mixin standardHeading {
  color: #131022;
  font-family: "manrope";
  font-style: normal;
  text-align: center;
  font-weight: 800;
}

@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin PageTitleSpacing {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
