@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$primaryFont: "manrope";
$colorSecondary: #585c7b;
$h1Size: 2.5rem;
$h1Weight: 800;

// Color Variables
$primary-color: #6366f1;
$secondary-color: #585c7b;
$light-gray: #f3f6ff;
$dark-gray: #131022;
$text-color: #9397ad;
$border-color: #e2e5f1;
$input-border-color: #d4d7e5;
$background-color: #f3f6ff;
$white-color: #fff;

// Padding and Margin Variables
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 32px;
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;

$backgroundGradient: radial-gradient(
  circle at center bottom,
  rgba(99, 102, 241, 0.1) 0%,
  rgba(218, 70, 239, 0.05) 41%,
  rgba(241, 244, 253, 0.07) 65%
);
