@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$primaryFont: "manrope";
$primarycolor: #131022;
$colorSecondary: #585c7b;
$h1Size: 2.5rem;
$h1Weight: 800;
