@use "./base/reset";
@use "layouts";
@use "./switch";
@use "abstracts/" as a;
@use "components" as c;
@use "themes" as t;

body {
  font-family: a.$primaryFont;
}

a {
  color: a.$primarycolor;
  font-weight: 400;
}

h1 {
  @include a.standardHeading;
  padding: 26px 100px 56px 100px;
}

h2 {
  text-align: center;
}

$backgroundColor: radial-gradient(
  circle at center bottom,
  rgba(99, 102, 241, 0.1) 0%,
  rgba(218, 70, 239, 0.05) 42%,
  rgba(241, 244, 253, 0.07) 83%
);

.background-gradient {
  background: $backgroundColor;
}


