@use "./base/reset";
@use "layouts";
@use "./switch";
@use "abstracts/" as a;
@use "components" as c;
@use "themes" as t;

body {
  font-family: a.$primaryFont;
}

a {
  color: a.$dark-gray;
  font-weight: 400;
}

h2 {
  text-align: center;
}

.background-gradient {
  background: a.$backgroundGradient;
}
