@use "../abstracts/" as a;

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2px;
  margin-bottom: 5rem;

  .ctn {
    @include a.padding(1rem, 1rem);
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .logo {
      grid-column: 1;
      color: #131022;
      font-family: "manrope";
      font-size: 21.4px;
      font-style: normal;
      font-weight: 800;
      line-height: 34.16px;
    }
    .btn-toggle-switch {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
    .btn-toggle-switch .label {
      display: none;
    }
  }

  .nav-ft {
    display: none;
    text-decoration: none;
    color: #000;
  }

  #auth {
    display: none;
  }

  .btn-mobile {
    grid-column: 4;
    grid-row: 1;
    border: none;
    justify-self: start;
    background-color: transparent;
  }

  .btn-primary {
    grid-row: 1;
    grid-column: 6;
    background-color: a.$primary-color;
    color: a.$white-color;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .btn-primary:hover {
    background-color: a.$primary-color;
    color: a.$white-color;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .ctn {
    max-width: 768px;
    margin: 0 auto;
  }

  .btn-toggle-switch .label {
    display: block;
    font-weight: 600;
  }
}

@media (min-width: 1400px) {
  header .ctn {
    max-width: 1320px;
    margin: 0 auto;
    gap: 3rem;

    .nav-ft {
      display: block;
    }

    .btn-mobile {
      display: none;
    }

    #auth {
      display: block;
    }
    .btn-toggle-switch .label {
      display: block;
    }
  }
}
