@use "../abstracts/" as a;

.page-6 {
  display: none;
  margin-top: 2rem;
  background-color: #fff;

  .page-6-container {
    display: none;
    max-width: 1320px;
    margin: 0 auto;
  }

  .page-6-grid-1 {
    @include a.grid(12);
    gap: 1rem;

    h2 {
      grid-column: 3/7;
      grid-row: 1/2;
      text-align: left;
    }

    .market-1 {
      grid-column: 9/12;
      grid-row: 1/12;

      img {
        width: 410px;
        height: auto;
      }
    }

    .statement-container {
      grid-column: 3/8;
      grid-row: 2/3;
    }

    .statement {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: flex-start;
    }

    .btn-market-1 {
      grid-column: 3/7;
      grid-row: 3/4;
    }
  }
  .page-6-grid-2 {
    @include a.grid(12);
    gap: 1rem;

    h2 {
      grid-column: 9/13;
      grid-row: 1/2;
      text-align: left;
    }
    .pg6-comm-1 {
      grid-column: 9/11;
      grid-row: 2/3;
    }

    .pg6-comm-2 {
      grid-column: 11/13;
      grid-row: 2/3;
    }

    .market-2 {
      grid-column: 3/4;
      grid-row: 1/12;

      img {
        width: 410px;
        height: auto;
      }
    }

    .btn-market-2 {
      grid-column: 9/11;
      grid-row: 3/4;
    }
  }

  .btn-market-1-style {
    grid-row: 1;
    grid-column: 6;
    background-color: a.$primary-color;
    color: a.$white-color;
    border-radius: 8px;
    border: 0px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4.4px 12px -1px rgba(#6366f1, 0.06),
      0px 2px 6.4px -1px rgba(#6366f1, 0.03);
  }

  .btn-market-2-style {
    grid-row: 1;
    grid-column: 6;
    background-color: a.$primary-color;
    color: a.$white-color;
    border-radius: 8px;
    border: 0px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

@include a.respond-to("tablet") {
  .page-6 {
    display: none;
  }
}

@include a.respond-to("desktop") {
  .page-6 {
    display: block;

    .page-6-container {
      display: block;
    }
  }
}
