@use "../abstracts/" as a;
@use "../base/" as b;

.page-2 {

  .app-ft-intro{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .ft-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  .app-ft-grid-1 {
    @include a.paddingLeftRight;
    display: flex;
    flex-direction: row;
  }
}

.ft-bg-pg2 {
  @include a.flex(column, center, center, 0);
  width: 60px;
  height: 60.08px;
  padding: 16px 16px 16px 16px;
  margin-top: 1.5rem;
  border-radius: 8px;
  background: a.$light-gray;
}

.sponsors {
  @include a.flex(row, center, center, 0);
  gap: 5rem;

  .sp4 {
    display: none;
  }
  .desk {
    display: none;
  }
}

.app-ft {
  display: grid;
  grid-template-columns: 1fr;

  .app-ft-grid-2 {
    display: none;
  }

  .app-ft-iphone {
    display: none;
  }

  .ft-bg-pg2 {
    display: flex;
    margin-right: 30px;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .page-2 {
    max-width: 768px;
    margin: 0 auto;

    .app-ft {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sponsors {
      @include a.flex(row, center, center, 0);
      gap: 24px;
      margin-top: 2rem;
      margin-bottom: 2rem;

      .sp4 {
        width: 159px;
        height: 99px;
        border-radius: 8px;
        padding: 32px 9px;
        border-radius: 8px;
        border: 1px solid #e2e5f1;
        display: block;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .desk {
        display: none;
      }
    }
  }

  .app-ft-iphone {
    display: none;
  }
}

@media (min-width: 1400px) {
  .page-2 {
    max-width: 1320px;
    margin: 0 auto;

    .ft-grid {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      .ft-grid-obj-1 {
        grid-column: 6/9;
        grid-row: 1/2;
        margin: 0px 0px;
        padding: 0px 10px;
        text-align: left;
        margin-bottom: 1rem;
      }
      .ft-grid-obj-2 {
        grid-column: 6/13;
        grid-row: 2/3;
        margin: 0px 0px;
        padding: 0px 10px;
        text-align: left;
        margin-bottom: 3rem;
      }
    }
    .app-ft {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1rem;
    }

    //--- Tobias feta lösning----//

    .app-ft-grid-1:nth-child(even) {
      grid-column: 6/9;
      margin: 0px 0px;
      padding: 0px 0px;
    }

    .app-ft-grid-1:nth-child(odd) {
      grid-column: 9/12;
      margin: 0px 0px;
      padding: 0px 0px;
    }

    //--- Tobias feta lösning----//

    .app-ft-grid-2 {
      grid-column: 1/5;
      grid-row: 1/4;
      display: block;
      width: 265px;
      height: 651px;
    }

    .app-ft-iphone {
      animation: fadescroll linear both;
      animation-timeline: view();
      animation-range: entry 50% cover 50%;
      width: 100%;
      object-fit: cover;
      display: block;
    }

    .sponsors {
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .sp4 {
        display: flex;
        width: 196px;
        height: 100px;
        padding: 34px 36px;
        justify-content: center;
        align-items: center;
      }

      .desk {
        display: flex;
        width: 196px;
        height: 100px;
        padding: 34px 36px;
        border-radius: 8px;
        border: 1px solid #e2e5f1;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes fadescroll {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
