@import "./switch";
@import "./utilities/variables";
@import "./utilities/mixins";

* {
  box-sizing: border-box;
}

body,
section,
div,
span,
header,
footer,
main,
aside,
nav,
blockquote,
span {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primaryFont;
}

a {
  text-decoration: none;
  color: $primarycolor;
  font-weight: 400;
}

h1 {
  @include standardHeading;
  margin: {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

h2 {
  text-align: center;
}

$backgroundColor: radial-gradient(
  circle at center bottom,
  rgba(99, 102, 241, 0.1) 0%,
  rgba(218, 70, 239, 0.05) 42%,
  rgba(241, 244, 253, 0.07) 83%
);

header {
  .ctn {
    @include paddingLeftRight;
    display: grid;
    align-items: center;
    grid-template-areas: "logo nav auth";
    grid-template-columns: auto auto 1fr;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .logo {
      grid-column: 1;
    }
  }
}

.page-1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .background-gradient {
    background: $backgroundColor;
    height: 100svh;
  }
}

.iphone {
  display: none;
}

.pg-1-p {
  text-align: center;
}

.page-2 {
  .ft-intro {
    @include flexRCC;
    color: #585c7b;
    text-align: center;
    font-style: normal;
    width: 703px;
    height: 86px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
  }

  .ft-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
  }

  .page-2-ctn {
    @include paddingLeftRight;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.ft-bg-pg2 {
  @include flexCCC;
  width: 60px;
  height: 60.08px;
  padding: 16px 16px 16px 16px;
  margin-top: 1.5rem;
  border-radius: 8px;
  background: #f3f6ff;
}

.btn-stores {
  @include flexCCC;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;

  .btn-store {
    padding: 8px;
    width: 340px;
    background-color: #131022;
    border-radius: 8px;
  }
}
.discover-wrapper {
  @include flexRCC;
  gap: 1rem;
}

.btn-discover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 22px;
  border: 1px solid #fff;
  background: #fff;
}

.sponsors {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include flexRCC;
  gap: 5rem;
}

.sp4 {
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.desk {
  @include flexRCC;
  width: 159px;
  height: 99px;
  padding: 33px 9px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e2e5f1;
  display: none;
}

.btn-primary {
  grid-row: 1;
  grid-column: 6;
  background-color: #6366f1;
  color: white;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #6366f1;
  color: white;
  text-decoration: none;
}

.btn-mobile {
  grid-column: 4;
  grid-row: 1;
  border: none;
  justify-self: start;
  background-color: transparent;
}

.btn-toggle-switch {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-toggle-switch .label {
  display: none;
}

.nav-ft {
  display: none;
}

#auth {
  display: none;
}

.app-ft {
  display: grid;
  grid-template-columns: 1fr;

  .app-ft-grid-1 {
    display: flex;

    .ft-bg-pg2 {
      display: flex;
      margin-right: 30px;
      align-items: center;
    }
  }
}

.page-3 {
  width: 100%;
  align-items: center;
  text-align: center;

  .pg3-ctn {
    @include paddingLeftRight;
  }

  .pg3-p {
    color: #585c7b;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .pg3-iphone-1 {
    display: none;
  }

  .pg3-iphone-3 {
    display: none;
  }
}

.pg3-bg {
  background-color: #f3f6ff;
}

.page-4 {
  margin-top: 2rem;
  @include paddingLeftRight;

  .newsletter-cnt {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .btn-con {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 6px;

    button {
      border-radius: 6px;
      border: 1px solid #6366f1;
      background: #6366f1;
      padding: 10px 28px 16px 28px;
      color: #fff;
      text-align: center;
      font-style: normal;
      font-weight: 600;
    }
  }

  .newsletter-cnt {
    border-radius: 8px;
    background: #f3f6ff;
  }

  .newsletter-header {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 32px 16px;
  }
}

.faq-ctn {
  display: none;
}

footer {
  margin: 14px 22px;
  text-align: center;
  color: #9397ad;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media (min-width: 768px) {
  .ctn {
    max-width: 730px;
  }

  .page-1 {
    .background-gradient {
      background: $backgroundColor;
      height: 100%;
    }
  }
  .pg1-grid {
    display: grid;
    @include paddingLeftRight;
    grid-template-columns: repeat(auto-fill, min-content);

    h1 {
      margin: 0px 110px;
      display: flex;
      height: 173px;
      flex-direction: column;
      justify-content: center;
      grid-column: 1 / 4;
      margin-top: 1rem;
      color: #131022;
      text-align: center;
      font: {
        size: 44px;
        weight: 800;
        style: normal;
      }
      line-height: 57px;
    }

    .p1-g-tablet {
      grid-row: 2;
      grid-column: 1 / 1;

      .pg-1-p {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 270px;
        height: 160px;
        text-align: start;
        color: #585c7b;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }

      .btn-stores {
        display: flex;
        flex-direction: row;
        height: 43px;

        .btn-store {
          width: 136px;

          img {
            width: 100%;
          }
        }
      }

      .discover-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;
        color: #585c7b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        height: 5px;
      }
    }

    .iphone {
      display: grid;
      grid-row: 2;
      grid-column: 3/ 4;

      img {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        object-fit: contain;
        width: 450px;
      }
    }
  }

  .btn-toggle-switch .label {
    display: block;
  }

  header .ctn {
    gap: 3rem;
  }

  .page-2 {
    .app-ft {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2rem;
      margin-bottom: 5rem;

      .app-ft-grid-1 {
        display: flex;

        .ft-bg-pg2 {
          display: flex;
          margin-right: 30px;
          align-items: center;
        }
      }
    }

    .sponsors {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;

      .sp4 {
        width: 159px;
        height: 99px;
        border-radius: 8px;
        padding: 32px 9px;
        border-radius: 8px;
        border: 1px solid #e2e5f1;
        background: #fff;
        display: block;
      }
    }
  }

  .desk {
    display: none;
  }

  .page-3 {
    h2 {
      margin-bottom: 2rem;
    }
    h3 {
      margin-top: 2rem;
    }
    .pg3-bg {
      padding: 64px 19px 48px 19px;
    }

    .pg3-iphone-ctn {
      padding-left: 0.2px;
      padding-right: 0.2px;

      @include flexRCC;
      .pg3-iphone-1 {
        display: block;
        width: 203px;
        height: 410px;
      }

      .pg3-iphone-3 {
        display: block;
        width: 203px;
        height: 410px;
      }
    }
    .pg3-p-ctn {
      @include flexCCC;

      .pg3-p {
        width: 424px;
        height: 77px;
        margin: 30px 0px;
        color: #585c7b;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.6px;
      }
    }
  }

  .page-4 {
    h2 {
      color: #0b0f19;
      text-align: center;
      font-family: "manrope";
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 130%;
    }
    .pg-4-p {
      color: #565973;
      text-align: center;
      font-family: "Manrope";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 4rem;
    }
  }

  .btn-con {
    display: none;
    button {
      display: none;
    }
  }

  .faq-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0px 28px 34px 29px;

    .faq {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "manrope";
      width: 343px;
      padding: 24px;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid #e2e5f1;
    }

    .btn-faq-wrapper {
      display: flex;

      .btn-faq-1 {
        background-color: white;
        text-decoration: none;
        color: #6366f1;
        border: 0px;
      }

      .btn-faq-2 {
        background-color: white;
        text-decoration: none;
        color: #22c55e;
        border: 0px;
      }
    }
  }

  .newsletter-bg {
    @include flexRCC;
  }
}

@media (min-width: 1400px) {
  .ctn {
    max-width: 1320px;
  }

  header .ctn {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }

  #auth {
    display: block;
  }

  .navbar {
    display: block;
  }

  .btn-mob {
    display: none;
  }

  .desk {
    display: flex;
  }
  .nav-ft {
    display: block;
  }
}
